$farbeschrift: black;

.heatheadertime {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.heatevent{
    color: $farbeschrift;
    font-size: 1.2em;
    font-weight: bold;
}